In [1]:
import os

import numpy as np
import pandas as pd
import netCDF4 as nc

In [2]:
base_path = '../input/data/'
input_file = 'CFSR-2015.nc'
data = nc.Dataset(os.path.join(base_path, input_file))

In [9]:
data_values = np.array(data['TMP_L100'])

time = np.array(data['forecast_hour'])
lat =  np.array(data['lat'])
lon = np.array(data['lon'])

In [4]:

def flatten_lat_long_grid(data_values, time, lat, lon):
    t_max, j_max, i_max = data_values.shape

    d = {
        'time': [],
        'lat': [],
        'lon': [],
        'data_values': []
    }

    for t in range(0, t_max):
        for j in range(0, j_max):
            for i in range(0, i_max):
                row = [time[t], lat[j], lon[i], data_values[t, j, i]]
                d['time'].append(row[0])
                d['lat'].append(row[1])
                d['lon'].append(row[2])
                d['data_values'].append(row[3])

    df = pd.DataFrame(d)

    out_name = os.path.join(base_path, f'data_{input_file[:-3]}.csv')

    df.to_csv(out_name, index=False)

    return df

flatten_lat_long_grid(data_values, time, lat, lon)

            time   lat    lon  data_values
0            0.0  10.0  278.0   298.200012
1            0.0  10.0  278.5   299.500000
2            0.0  10.0  279.0   300.600006
3            0.0  10.0  279.5   301.100006
4            0.0  10.0  280.0   301.399994
...          ...   ...    ...          ...
31496575  8754.0 -60.0  352.0   274.000000
31496576  8754.0 -60.0  352.5   273.899994
31496577  8754.0 -60.0  353.0   273.899994
31496578  8754.0 -60.0  353.5   273.799988
31496579  8754.0 -60.0  354.0   273.799988

[31496580 rows x 4 columns]

In [10]:
time[0]

0

In [5]:
data.variables.keys()

dict_keys(['lon', 'lat', 'time', 'forecast_hour', 'TMP_L100'])

In [6]:
print(data.variables['lat'])
print(data.variables['lon'])
print(data.variables['time'])
print(data.variables['TMP_L100'])
print(data.variables['forecast_hour'])

<class 'netCDF4._netCDF4.Variable'>
float32 lat(lat)
    standard_name: latitude
    long_name: north latitude
    units: degrees_north
    axis: Y
unlimited dimensions:
current shape = (141,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float32 lon(lon)
    standard_name: longitude
    long_name: east longitude
    units: degrees_east
    axis: X
unlimited dimensions:
current shape = (153,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    standard_name: time
    long_name: time
    units: hours since 2015-1-1 00:00:00
    calendar: standard
    axis: T
unlimited dimensions: time
current shape = (1460,)
filling on, default _FillValue of 9.969209968386869e+36 used
<class 'netCDF4._netCDF4.Variable'>
float32 TMP_L100(time, lat, lon)
    standard_name: air_temperature
    units: K
    _FillValue: 3.4e+38
    missing_value: 3.4e+38
    product_description: Analysis
    level: Isobaric surface - value: 1000 mbar
unlimited dimensions: time
current shape = (1460, 141, 153)
filling on
<class 'netCDF4._netCDF4.Variable'>
int32 forecast_hour(time)
    long_name: forecast hour
    units: hours
unlimited dimensions: time
current shape = (1460,)
filling on, default _FillValue of -2147483647 used